config.json
config-xero.json
config-xero4.json
xero-tokenset.json
package-lock.json
package.json
api-users.json
stripe-keys.json
node_modules/
server/ssl/
server/deployProd-DEPRECATED.sh
cert/
server/old_scripts
server/test
client/old_scripts
client/test
client/js/squarespace
temp/
utils/
.git-rewrite
